body, html {
    background-color: black;
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
}
div#board {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: url(Webp.net-resizeimage.jpg) no-repeat center center ;
}

div#messageArea {
    position: absolute;
    top: 0px;
    left: 0px;
    color: rgb(83, 175, 19);
    font-size:5rem;
}

table {
    position: absolute;
    left: 490px;
    top: 115px;
    border-spacing: 0;
}

td {
    width: 70px;
    height: 70px;
}

form {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 15px;
    background-color: rgb(83, 175, 19);
}

form input {
    background-color: rgb(152, 207, 113);
    border-color: rgb(83, 175, 19);
    font-size: 1em;
}

.hit {
    background: url(ship.png) no-repeat ;
    background-size:60px 60px;
}

.miss {
    background: url(miss.png) no-repeat center center;
    background-size: 55px;
}

